body {
    overflow-x: hidden;
}
table {
    border-collapse: collapse;
}
.wrapper {
    max-width: 1366px;
    padding: 0 72px;
    margin: auto;
} 
.banner__title,
.stagetable__title,
.slider__title {
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--text);
}
.support__subtitle,
.info__subtitle {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #313131;
}
.admin-link,
.community-resources-link {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #3057a2;
}

