.footer {
    background-color: #E9DED4;
}
.footer__text {
    padding: 40px 0 72px 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #313131;
    opacity: 0.6;
}

