.runing-line {
    background-color: var(--runing-text);
    margin-bottom: 80px;
}
body .runing-line:last-child{
    margin-bottom: 0;
}
.runing-line ul {
    display: flex;
    gap: 12px;
    animation: move-line 20s linear infinite;
}
.runing-line li {
    display: flex;
    align-items: center;
    padding: 18px 0;
    gap: 12px;
    white-space: nowrap;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    text-transform: uppercase;
    color: #fff;
}   
.runing-line li::before {
    content: '';
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #fff;
}
.runing-line ul:hover {
    animation-play-state: paused;
}

@keyframes move-line {
    100% {
        transform: translateX(-100%);
    }
}