.slider {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 140px;
}
.slider .banner__title {
    display: block;
    margin-bottom: 0;
}
.slider__preview {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.slider__switcher {
    display: flex;
    width: 151px;
    justify-content: space-between;
    padding-bottom: 5px;
}
.slider__switcher-btn--next,
.slider__switcher-btn--prev {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #313131;
    border-radius: 50%;
}
.slider__switcher-btn--next:hover,
.slider__switcher-btn--prev:hover {
    background-color: #fbce51;
}
.slider__count {
    display: flex;
    align-items: center;
}
.cards {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}
.slider__card{
    display: flex;
    min-width: 394px;
    /* min-width: calc(33.33% - 20px); */
    flex-direction: column;
}
.slider__card img {
    display: flex;
    padding: 0 37px 28px 37px;
}
.name {
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    gap: 30px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #313131
    
}
.participant__descr {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 15px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    opacity: 0.6;
}
.slider__card button {
    display: flex;
    justify-content: center;
}
.slider__btn {
    transition: all 0.3s ease-in-out;
    border: 1px solid #3057a2;
    border-radius: 62px;
    padding: 12px;
    width: 113px;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3057a2;
}
.slider__btn:hover {
    background-color: #3057A2;
    color: #fff;
}

