.slider__global {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 140px;
}
.slider__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.slider__nav {
    display: flex;
    width: 151px;
    justify-content: space-between;
    margin-bottom: 8px;
}
.slider__nav span:not(:nth-child(2)) {
    color: #fff;
}
.slider__nav-btn--next,
.slider__nav-btn--prev {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #313131;
    border-radius: 50%;
}
.slider__nav-btn--next:hover,
.slider__nav-btn--prev:hover {
    background-color: #fbce51;
}
.slider__nav-btn--next:disabled,
.slider__nav-btn--prev:disabled {
    background-color: #D6D6D6; 
    cursor: not-allowed; 
}
.slider__nav-count {
    display: flex;
    align-items: center;
}


.carousel {
    width: 100%;
    overflow: hidden;
}
.carousel__list {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}
.carousel__item {
    display: flex;
    max-width: calc((100% - 40px) / 3); 
    flex-direction: column;
}
.carousel__item img {
    display: flex;
    padding: 0 37px 28px 37px;
}
.carousel__name {
    align-self: center;
    padding-bottom: 6px;
    gap: 30px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #313131
    
}
.carousel__descr {
    display: flex;
    align-self: center;
    padding-bottom: 20px;
    gap: 15px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    opacity: 0.6;
}
.carousel__btn {
    transition: all 0.3s ease-in-out;
    align-self: center;
    border: 1px solid #3057a2;
    border-radius: 62px;
    padding: 12px;
    width: 113px;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3057a2;
}
.carousel__btn:hover {
    background-color: #3057A2;
    color: #fff;
}


