.tabledescr {
    display: flex;
    flex-direction: column;
}

.tabledescr__title {
    max-width: 806px;
    display: inline;
    margin-bottom: 54px;
}
.banner__title--h2 {
    display: inline;
    margin-bottom: 0;
}
.tabledescr__aside {
    color: var(--note);
    font-family: var(--fonts-title-h1);
    display: inline-block;
    max-width: 250px;
    text-align: left;
    padding-left: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.tabledescr__cell--number {
    background-image: url(../../assets/img/svg/number-1.svg);
    background-repeat: no-repeat;
    background-position: top 20px left 20px;
}
.tabledescr__cell--style {
    font-family: var(--fonts-title-h1);
    max-width: 394px;
    height: 112px;
    background-color: #d9d9d9;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    padding: 20px;
    padding-left: 72px;
}

